<section class="favourites">

  <header class="favourites-header">
    <h1>My favourites</h1>
  </header>

  # if there is no favourite:

  # <% if %>
    # <div class="alert alert-danger">
    #   You do not have any favourites yet.
    #   </div>
      # <%= link_to "Go to Recipes", root_path, class: "btn btn-outline-success"%>
  
  # <% else %>

  # This is the sctructure, following the wireframes:
  <div class="favourites-image">
    
    <div class="favourites-text"> 
      # <span>Name</span>
      # <span>Description</span>
    </div>

    <button class="favourites-button">
      View recipe
    </button>
  </div>


 <% end %>
</section>
