<section>

  <div>
    # render image here
    
    <div>
    # render recipe name and description here
      <span></span>
      <span></span>
    </div>
  
    <button>
      # Write the logic for the button to navigate to the recipe the user selects
    </button>
  
  </div>

</section>

