<!DOCTYPE html>
<html>
  <head>
    <title>My Favourites</title>
    <%= stylesheet_link_tag 'favourites', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- List of favourited recipes --> 
    <h2>Your Favourite Recipes</h2>
    <% @favourites.each do |favourite| %>
      <div>
        <%= image_tag favourite.recipe.photo %>
        <%= link_to favourite.recipe.title, recipe_path(favourite.recipe) %>
      </div>
    <% end %>

  </body>
</html>