@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

// App
@import "recipes";
@import "favourites";
@import "registrations";
@import "sessions";
@import "users";

// Fonts
// Global
html, body {
  font-size: 20px;
  font-family: 'Klee One', cursive;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #CBF3F0;
}

// all buttons style
.button {
  display: inline;
  background-color: #FFBF69;
  color: #FFFFFF;
  border-style: none;
  border-radius: 10px;
  text-decoration: none;
}

.navbar {
  
  background-color: #FFBF69;
  padding: 1rem;
  // display: flex;
  // justify-content: flex-end;

  &__::after {
    background: (-45deg, #ffffff 6px, transparent 0),
      linear-gradient(45deg, #ffffff 6px, transparent 0);
    background-repeat: repeat-x;
    background-size: 12px 12px;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12px;
  }

  &__container {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  &__logo > img {
    width: 240px;
    height: auto;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  &__item > a {
    text-decoration: none;
    color: #FFFFFF;

    :hover {
      color: #FF9F1C;
    }
  }

}
