@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

// App
@import "recipes";
@import "favourites";
@import "registrations";
@import "sessions";
@import "users";


@media (min-width: 62.5rem) {
// Global
  html, body {
    font-size: 20px;
    font-family: 'Klee One', cursive;
    // width: 100vw;
    // height: 100vh;
    box-sizing: border-box;
    max-width: 80rem;
    margin: 0 auto;
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
  }
}

.navbar {
  
  background-color: #FFBF69;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  // display: flex;
  // justify-content: flex-end;

  

  &__container {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 1rem;

  }

  &__logo > img {
    width: 300px;
    height: auto;
    padding: .5rem;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0.625rem 1.25rem;
  }

  &__item a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;

    :hover {
      color: #FF9F1C;
    }
  }
}