// Place all the styles related to the Favourites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.favourites {

  &__title {
    text-align: center;
    font-weight: bold;
    margin: 2rem;
  }

  &__container-card {
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4rem;
  }

  &__recipe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  &__recipe-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__name, &__name > a {
    text-decoration: none;
    color: #2EC4B6;
    font-weight: bold;
    margin: .5rem 0;
  }

  &__image>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    border-radius: 8px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .15);
  }
}

.flash {
  padding: 1em;
  margin: 1em 0;
  border-radius: 4px;
}

.flash.notice {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}

.flash.alert {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}