// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipes {

  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // gap: 20px;

  &__title {
    text-align: center;
    font-weight: bold;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__form > form {
    display: flex;
    align-items: center;
    width: 115%;
  }

  &__filter {
    margin: 1rem;
    width: 12%;
    font-size: 1.5rem;
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 1rem 1rem 0;
  }

  &__option {
    display: flex;
    gap: 8px;
  }

  &__title {
    color: #2EC4B6;
    font-weight: bold;
  }

  &__recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 10px);
    margin-bottom: 30px;
  }

  &__image > img {
    width: 10rem;
    height: auto;
    display: flex;
    border-radius: 8px;
  }

  &__name, &__name > a {
    text-decoration: none;
    color: #2EC4B6;
    font-weight: bold;
    margin-left: 1.5rem;
  }
  
  &__text {
    text-align: center;
  }

  &__recipe-info {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
  }

  &__date > span, &__servings > span, &__time > span {
    font-style: italic;
  }

  &__preparation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1.3rem 0;
  }

  &__ingredients > span, &__instructions > span {
    font-weight: bold;
    
  }

  &__ingredients, &__instructions {
    display: flex;
    flex-direction: column;
    width: 45%;
    // padding: 1rem;
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}

.flash {
  padding: 1em;
  margin: 1em 0;
  border-radius: 4px;
}

.flash.notice {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}

.flash.alert {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}
