@use "./partials/breakpoints" as *;
// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipes {

  margin: 0 auto;

  &__title {
    text-align: center;
    font-weight: bold;
    margin: 2rem
  }

  &__container-card {
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &__form-checkbox > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 75%;
    margin-left: 1.5rem;
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    margin: 1rem 1rem 1rem 0;
  }

  &__meal-type, &__meal-restriction {
    display: flex;
    flex-direction: column;
  }

  &__option {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }

  &__filters-button {
    background-color: #FFBF69;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: .3rem .4rem;
  }

  &__search-result {
    margin: 2rem 1.5rem;
    font-weight: bold;

  }

  // @media (min-width: 41.25em) {

  &__recipe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  &__recipe-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  // }

  &__image > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    border-radius: 8px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .15);
  }

  &__name, &__name > a {
    text-decoration: none;
    color: #2EC4B6;
    font-weight: bold;
    margin: .5rem 0;
  }
  
  &__text {
    text-align: center;
  }

  &__recipe-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2rem auto;
    padding: 2rem .5rem;
    width: 80%;
    box-sizing: content-box;
    border: 2px solid #CBF3F0;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .15);
  }

  &__info-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    width: 40%;
  }

  &__date > span, &__user > span, &__servings > span, &__time > span {
    font-style: italic;
  }

  &__preparation {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin: 1.3rem 0;
    padding-top: 1rem;
  }

  &__ingredients > span, &__instructions > span {
    font-weight: bold;
    
  }

  &__ingredients, &__instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    gap: 4rem;
  }

  &__fav-button {
    text-align: center;
    font-weight: bold;
    background-color: #FFBF69;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10px;
    text-decoration: none;
    padding: .3rem;
  }

  &__edit-button, &__delete-button {
    width: 150px;
    text-align: center;
    font-weight: bold;
    background-color: #FFBF69;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10px;
    text-decoration: none;
    padding: .3rem;

    :hover {
      color: #FF9F1C;
    }
  }

  &__share-container {
    border-top: 2px dotted #2EC4B6;
    border-bottom: 2px dotted #2EC4B6;
    padding: 3rem;
  }
  
  &__reviews-container {
    margin: 2rem 0 3rem 3rem;
  }

  &__share, &__reviews-title {
    color: #2EC4B6;
    padding-bottom: 1rem;
  }

  &__share-link > input {
    border: 3px dotted #2EC4B6;
    border-radius: 10px;
  
    &:focus {
      border-color: #2EC4B6;
    }
  }

  &__twitter > a, &__email > a {
    text-decoration: none;
    color: #FF9F1C;
    font-weight: bold;
  
    &:hover {
      color: #FFBF69;
      border-bottom: 1px dotted #2EC4B6;
    }
  }

  &__twitter, &__email {
    margin: .5rem 0;
  }

  &__form-comment, &__form-rating {
    margin: .5rem 0;
  }

  &__review-button > input {
    text-align: center;
    font-weight: bold;
    background-color: #FFBF69;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10px;
    text-decoration: none;
    padding: .3rem;
    margin-top: 1rem;
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  // New recipe page
  
  &__add-recipe {
    text-align: center;
    font-weight: bold;
    margin: 2rem;
  }

  &__form {
    margin: 2rem 7rem;
  }

  &__form-group {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
  }

  &__form-group > input, &__form-group > textarea, &__form-comment>input,
  &__form-rating>input {
    border: 3px dotted #2EC4B6;
    border-radius: 10px;
    
    &:focus {
      border-color: #2EC4B6;
    }
  }

  &__checkbox-options {
    margin: 2rem 7rem;
  }

  &__add-button {
    background-color: #FFBF69;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 7rem 3rem 7rem;
    padding: .3rem .4rem;
  }
  
  // My recipes page
  
  &__my-recipes-title {
    text-align: center;
    font-weight: bold;
    margin: 2rem;
  }

  &__my-recipe-item {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12.5rem;
  }

  &__my-recipe-item > a {
    text-decoration: none;
    color: #2EC4B6;
    font-weight: bold;
    margin: .5rem 0;
  }

  &__my-recipe-item > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    border-radius: 8px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .15);
  }
}


.flash {
  padding: 1em;
  margin: 1em 0;
  border-radius: 4px;
}

.flash.notice {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}

.flash.alert {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}
