@use "./partials/breakpoints" as *;
// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipes {

  margin: 0 auto;

  &__title {
    text-align: center;
    font-weight: bold;
    margin: 2rem
  }

  &__container-card {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // margin-top: 20px;
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &__form-checkbox > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 75%;
    margin-left: 1.5rem;
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    margin: 1rem 1rem 1rem 0;
  }

  &__meal-type, &__meal-restriction {
    display: flex;
    flex-direction: column;
  }

  &__option {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }

  &__search-result {
    margin: 2rem 1.5rem;
    font-weight: bold;

  }

  &__title {
    color: #2EC4B6;
    font-weight: bold;
  }

  // @media (min-width: 41.25em) {

    &__recipe {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // align-items: center;
      // width: calc(45% - 10px);
      // margin: 2.5rem;
      // padding: 0 3rem;
      text-align: center;
    }

    &__recipe-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  // }

  &__image > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    border-radius: 8px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .15);
  }

  &__name, &__name > a {
    text-decoration: none;
    color: #2EC4B6;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  &__text {
    text-align: center;
  }

  &__recipe-info {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
  }

  &__date > span, &__servings > span, &__time > span {
    font-style: italic;
  }

  &__preparation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1.3rem 0;
  }

  &__ingredients > span, &__instructions > span {
    font-weight: bold;
    
  }

  &__ingredients, &__instructions {
    display: flex;
    flex-direction: column;
    width: 45%;
    // padding: 1rem;
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  // New recipe page
  
  &__add-recipe {
    text-align: center;
    color: #FF9F1C;
    font-weight: bold;
    margin: 2rem;
  }

  &__form {
    margin: 2rem 7rem;
  }

  &__form-group {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
  }

  &__form-group > input, &__form-group > textarea {
    border: 3px dotted #2EC4B6;
    border-radius: 10px;
    
    &:focus {
      border-color: #2EC4B6;
    }
  }

  &__checkbox-options {
    margin: 2rem 7rem;
  }

}

.flash {
  padding: 1em;
  margin: 1em 0;
  border-radius: 4px;
}

.flash.notice {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}

.flash.alert {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}
