// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flash {
  padding: 1em;
  margin: 1em 0;
  border-radius: 4px;
}

.flash.notice {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}

.flash.alert {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}