// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login {

  &__new-session{
    font-weight: bold;
    color: #2EC4B6;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  &__form {
    margin: 0 auto;
    width: 60%;
    box-sizing: content-box;
    border: 2px solid #CBF3F0;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .15);
  }

  &__form > form {
    margin: 0 auto;
    width: 60%;
  }

  &__form-group {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
  }

  &__form-group>input {
    border: 3px dotted #2EC4B6;
    border-radius: 10px;

    &:focus {
      border-color: #2EC4B6;
    }
  }
}

.flash {
  padding: 1em;
  margin: 1em 0;
  border-radius: 4px;
}

.flash.notice {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}

.flash.alert {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}