<footer>

  <section class="footer">
    
    <div class="footer__container">
      <div>
        <a class="footer__logo" href="<%= root_path %>"><%= image_tag 'tasteful-traditions.png', alt: 'Tasteful Traditions logo' %></a>
      </div>

      <div class="footer__contact">
        <span>Contact us:</span>
        <address><a class="footer__email-address" href="mailto:contact@tastefultraditions.com">contact@tastefultraditions.com</a></address>
      </div>

      <div class="footer__social">
        <span class="footer__social-title">Follow us:</span>
        <nav class="footer__social-icons">
          <a class="footer__link" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a class="footer__link" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
          <a class="footer__link" href="https://twitter.com/home/" target="_blank"><i class="fa fa-twitter"></i></a>
        </nav>
      </div>
    </div>

  </section>

</footer>